	<div id="wrapper">
		<div id="iphad">
			<div id="screen">
					<div id="icon-area">
						<div class='icon pandatime'>
							<%= link_to (image_tag (image_path ("panda.png")), :class => 'shrink'), home_path + '/#pandatime' %><br />
							<span class='icon-text'>Panda Time</span>
						</div>
						<div class='icon'>
							<%=link_to (image_tag (image_path ("winston.png")), :class => 'shrink winston'),home_path + '#winston'  %>
							<span class='icon-text'>Winston</span>
						</div>
						<div class='icon'>
							<%=link_to (image_tag (image_path ("kellyrage.png")), :class => 'shrink iconify'), 'http://kellyrage.william-lee.com', :target => '_blank'  %>
							<span class='icon-text'>Kelly Rage</span>
						</div>
					</div>
					<!-- Begin: CSS Dock Code -->
					<div class="dock">
						<ul>
							
							<li id="listen">
								<a href="#listen">
									<em><span>Album</span></em>
									<%= link_to (image_tag (image_path "conga.png"), alt: "conga", class: 'iconify'), 'http://www.superiphase3ds.bandcamp.com', :target => '_blank' %>
								</a>
							</li>
							<li id="fb">
								<a href="#fb">
									<em><span>Facebook</span></em>
									<%= link_to (image_tag  image_path("fb.png"), alt: "mail"), 'http://www.facebook.com/iphase3ds', :target => '_blank' %>
								</a>
							</li>
							<li id="twitter">
								<a href="#twitter">
									<em><span>iPhoto</span></em>
									<%= image_tag  image_path("twitter_icon.gif"), alt: "mail" %>
								</a>
							</li>
							<li id="mail">
								<a href="#mail">
									<em><span>Mail</span></em>
									<%= link_to (image_tag (image_path "icon-mail.png"), alt: "mail"), 'mailto:keyboardstand@william-lee.com' %>
								</a>
							</li>
						</ul>
					</div>
					<!-- End: CSS Dock Code -->
			</div>
		</div>
	</div>