<!DOCTYPE html>
<html lang="en">
<head>
  <title>Super iPhase 3DS - iPhad</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	#screen{
		background: black url(<%= generate_bg_name %>) no-repeat center;
	}
  </style>

	</head>
<body>
	<div class="container">
	<audio id='oink' src="http://superiphase3ds.heroku.com/assets/oink.wav"></audio>
			<%= yield %>
	</div>

</body>
</html>
